<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   Hello World Duong Pham!
   <div>
      <img src="/images/images.jpg" alt="">
   </div>
</body>
</html>